<html>
<head>
    <style>
        .table{
            width: 100%;
        }
        .table, .table tr td{
            border: 1px solid #000;
            border-collapse: collapse;
        }
        .table tr td{
            padding: 10px 5px;
        }
        .table tr td .table{
            border: 0;
        }
        input{
            min-width: 60px;
            height: 100%;
            width: 100%;
            background: none;
            min-height: 30px;
        }
        textarea{
            min-width: 60px;
            height: 100%;
            width: 100%;
            background: none;
        }
        .red{
            background: #fabf8f;
        }
        .green{
            background: #c2d69b;
        }
    </style>
</head>
<body style="padding: 50px">
<div style="width: 900px; margin: 0 auto">
<p>
    <b>Внимание!</b> Данное заявление является официальной формой подачи рекламации физическим лицом на <u>карту водителя</u>, выпущенную
    <u>ФГУП “НТЦ ”Атлас”</u>.
</p>
<br />
<br />
<div style="text-align: right; overflow: hidden">
    <div style="height: 50px; width: 50%; border: 1px solid #000; float: right"></div>
</div>
<table style="width: 100%">
    <tr>
        <td style="width: 50%; text-align: right; padding-right: 20px">
            <span style="font-size: 22px">ЗАЯВЛЕНИЕ</span>
            <br />
            о рекламации на карту водителя
        </td>
        <td>
            <table border="1" cellspacing="0" cellpadding="0" style="width: 100%">
                <tr>
                    <th style="width: 50%" class="red">Регистрационный номер</th>
                    <th class="red">Дата регистрации</th>
                </tr>
                <tr>
                    <td><br /><br /></td>
                    <td><br /><br /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <td class="red">1</td>
        <td colspan="2" class="red">Сведения о пункте приёма</td>
    </tr>
    <tr>
        <td colspan="2" class="red">1.1 Наименование дилера/дистрибьютора</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2" class="red">1.2 Адрес пункта выдачи</td>
        <td></td>
    </tr>
    <tr>
        <td class="green">2</td>
        <td class="green">Номер карты тахографа</td>
        <td style="text-align: center; font-size: 20px">RUD _ _ _ _ _ _ _ _ _ _ _ _ _ </td>
    </tr>
    <tr>
        <td class="green">3</td>
        <td class="green" colspan="2">Сведения о  заявителе</td>
    </tr>
    <tr>
        <td class="green">3.1 ФИО</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="green">3.2 Тип документа</td>
        <td colspan="2" style="padding: 0">
            <table class="table">
                <tr>
                   <td rowspan="3">Паспорт РФ <br /> Прочее _________</td>
                   <td class="green">3.3 Серия</td>
                   <td><input type="text"></td>
                   <td class="green">3.4 Номер</td>
                   <td><input type="text"></td>
                   <td class="green">3.5 Дата</td>
                   <td><input type="date"></td>
                </tr>
                <tr>
                    <td class="green">3.6 Кем выдан</td>
                    <td colspan="5"><textarea style="height: 50px"></textarea></td>
                </tr>
                <tr>
                    <td class="green">3.7 Код подразделения</td>
                    <td colspan="5"><input type="text" style="width: 100px"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 0">
            <table class="table">
                <tr>
                    <td class="green">3.8 Номер телефона</td>
                    <td><input type="text"></td>
                    <td class="green">3.9 E-mail</td>
                    <td><input type="text"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="green">4</td>
        <td colspan="2" class="green">Причина обращения</td>
    </tr>
    <tr>
        <td colspan="3">
            <textarea style="height: 100px">
Карта тахографа неработоспособна (т.е. не может эксплуатироваться в тахографе, в соответствии с ее назначением)

Персональные данные, выгравированные на карте тахографа, не соответствуют данным, указанным в
заявлении о выдаче (замене, обновлении) карты тахографа

Персональные данные, выгравированные на карте тахографа, не соответствуют данным, записанным в
чипе карты

Персональные данные, записанные в чипе карты, не соответствуют данным, указанным в заявлении о
выдаче (замене, обновлении) карты тахографа

Наличие дефектов производства на пластике или контактной плате (царапины, сколы, порезы и т.д.)
            </textarea>
        </td>
    </tr>
    <tr>
        <td class="green">5</td>
        <td colspan="2" class="green">Описание выявленного дефекта и условий, при которых он проявляется</td>
    </tr>
    <tr>
        <td colspan="3">
            <textarea style="height: 100px">
            </textarea>
        </td>
    </tr>
    <tr>
        <td class="green">6</td>
        <td colspan="2" class="green">Сведения о средствах, при использовании карты тахографа с которыми, был обнаружен дефект</td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 0">
            <table class="table">
                <tr>
                    <td rowspan="3" class="green">
                        6.1 Тип
                    </td>
                    <td rowspan="3">
                        Тахограф<br />
                        Средство разблокировки карты тахографа<br />
                        Средство считывания данных с карты<br />
                        тахографа<br />
                        Прочее: _____________________________<br />
                    </td>
                    <td class="green">6.2 Производитель</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="green">6.3 Наименование/модель</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="green">6.4 Серийный номер/версия</td>
                    <td><input type="text"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 0">
            <table class="table">
                <tr>
                    <td class="green">
                        6.5 Код ошибки
                    </td>
                    <td><input type="text"></td>
                    <td class="green">6.6 Текст ошибки</td>
                    <td>
                        <textarea style="height: 50px"></textarea>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </table>
    <table class="table">
    <tr>
        <td class="red" style="width: 150px" colspan="3">7 Результат предварительного осмотра карты</td>
    </tr>
    <tr>
        <td colspan="2" class="red" style="width: 50%">
            7.1 Состояние карты тахографа
        </td>
        <td class="red">
            7.2 Примечание
        </td>
    </tr>
    <tr>
        <td colspan="2">

            Наличие дефектов производства<br />
            <br />
            Наличие следов эксплуатации на картах  тахографа<br />
            (царапины, потёртости и т.п.)<br />
            <br />
            Наличие деформаций на карте тахографа (порезы,<br />
            сколы, вмятины, дыры, трещены и прочие  деформации)<br />
        </td>
        <td rowspan="2">
            <textarea style="height: 100%"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <textarea style="height: 100px"></textarea>
        </td>
    </tr>

</table>
    <br />
    <br />
    <p>Данным заявлением подтверждаю свое согласие на обработку, в том числе с использованием средств  автоматизации (сбор, запись, накопление, хранение, изменение, использование, передачу, обезличивание, удаление, уничтожение),  моих персональных данных, указанных в заявлении.
        Целью обработки персональных данных является идентификация заявителя и установление принадлежности карты тахографа заявителю.</p>
    <p>Прошу провести экспертизу на предмет выявления причины дефекта карты тахографа и определить, является ли     данный случай гарантийным. В случае признания данного случая гарантийным, прошу безвозмездно устранить дефект в соответствии со статьёй 19, пункта 6 Закона РФ “О защите прав потребителей”.
        Достоверность указанных в заявлении сведений подтверждаю, с результатами предварительного осмотра согласен и претензий не имею.</p>
    <br />
    <br />
    <br />
    <table style="width: 100%" cellspacing="25">
        <tr>
            <td style="width: 60%; border-top: 1px solid #000; text-align: center">Ф.И.О. Заявителя</td>
            <td style="border-top: 1px solid #000; text-align: center">Подпись</td>
        </tr>
    </table>
    <br />
    <br />
    <p>
        Специалист пункта приёма подтверждает, что заявление принято, предварительный осмотр им проведён:<br />
        1) Карта тахографа, номер которой указан в разделе 2 заявления была выпущена на заявителя, данные которого указаны в разделе 3 заявления.<br />
        2) Данные, указанные в разделах 2 и 3 заявления, сверены с оригиналом документа и картой тахографа, предоставленными заявителем.<br />
    </p>
    <br />
    <br />
    <table style="width: 100%" cellspacing="25">
        <tr>
            <td style="width: 60%; border-top: 1px solid #000; text-align: center">Ф.И.О. специалиста пункта приёма</td>
            <td style="border-top: 1px solid #000; text-align: center">Подпись</td>
        </tr>
    </table>

    <br />
    <br />
    <br />
    <div style="float: left; font-size: 25px">
        М.П.
    </div>
    <div style="float: right; font-size: 18px; text-align: right">
        Дата «___»___________________ 20___г.
    </div>
</div>
</body>
</html>