.bootstrap-date select:nth-child(1){
    width: 30%;
    display: inline-block;
}
.bootstrap-date select:nth-child(2){
    width: 50%;
    display: inline-block;
}
.bootstrap-date select:nth-child(3){
    width: 20%;
    display: inline-block;
}
.breadcrumb li{
    font-weight: bold;
}
.right-btn{
    float: right;
    margin-top: 12px;
    margin-right: 18px;
}
.navbar-brand{
    color: #FFFFFF !important;
}

.status{
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 10px;
}

.subtitles{
    font-size: 12px;
    color: #343434;
    font-style: italic;
}
.new-item{
    background: #FEFFE1;
}
td.label{
    color: #333333;
    text-align: right;
    padding-top: 10px;
}
td.value input{
    margin-bottom: 10px;
}

.pagination span{
    padding: 5px 10px;
    border: 1px solid #CCC;
    display: inline-block;
    margin: 0 5px;
    border-radius: 3px;
}
.pagination .current{
    background: #23527c;
    color: #fefefe;
}
.form-control{
    height: 32px;
}

@media (min-width: 1200px) {
    .container {
        width: calc(100% - 50px);
    }
}

.dropdown-menu li a:active, .dropdown-menu li:active{
    outline: none !important;
}

.statusItems{
    display: none;
}
.statusBox{
    font-size: 12px;
    cursor: pointer;
    margin-top: 6px;
}
.statusBox:hover .statusItems{
    display: block;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    padding: 5px;
    z-index: 9999;
}