Здравствуйте.<br />
Вы оставляли заявку на востановление PIN и PUK кодов для карты {{ code.code }}
<br />
<br />
<strong>Ваш PIN и PUK коды:</strong> {{ code.pin }}
<br />
<br />
С уважением, <a href="https://im-kard.ru">im-kard.ru</a>