Здравствуйте.
Воспользовавшись услугой ООО "ИнфоМакс", Вы получили карту для тахографа.

Ваш отзыв очень важен для нас. Пожалуйста оцените качество работы сервиса.

[КНОПКА]

С уважением, <a href="https://im-kard.ru">IM-KARD</a><br />
<b>Тел.:</b> 8 (812) 425-12-44, +7 (967) 359-98-05
<b>Email:</b> <a href="mailto:imkardru@gmail.com">imkardru@gmail.com</a>