Здравствуйте.<br />
Вы больше 25 дней назад воспользовались нашей услугой по заказу карт для тахографов.
<br />
<br />
Оцените, пожалуйста, наш сервис, для этого перейдите по <a href="https://im-kard.ru/reviews">Ссылке</a> и напишите там свое мнение и предложения по нашему сервису
- Ваш отзыв очень важен для нас.
<br />
С уважением, <a href="https://im-kard.ru">IM-KARD</a><br />
<b>Тел.:</b> 8 (812) 425-12-44, +7 (967) 359-98-05
<b>Email:</b> <a href="mailto:imkardru@gmail.com">imkardru@gmail.com</a>