{% extends 'CrmMainBundle::layout.html.twig' %}

{% block title %}
        <title>Нормативные документы по тахографам с СКЗИ</title>
        <meta name="description" content="Нормативные документы по тахографам с СКЗИ">
        <meta name="keywords" content="Нормативные документы по тахографам с СКЗИ">
{% endblock %}

{% block content %}
    <div class="box">
        <h2>{{ page.title }}</h2>
        {{ page.body | raw }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .box p{
            color: #333333;
        }
    </style>
{% endblock %}