{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div class="box">
        <h2>Частые вопросы</h2>
            {% for faq in faqs %}
                <div class="faq-box">
                    <div class="faq-question">{{ faq.question }}</div>
                    <div class="faq-answer">{{ faq.answer }}</div>
                </div>
            {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}