{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <table>
        <tr>
            <td>
                <div></div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
{% endblock %}