{% extends 'CrmMainBundle::layout_new.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Установка тахографов</h2>
        <p><strong>Тахограф</strong> – это устройство контрольно-измерительного типа, которое устанавливается на транспортное средство. Предназначение данных устройств – регистрация пробега автомобиля, скоростного режима и периодов работы и отдыха водителей.</p>
        <p>Тахограф фиксирует множество показателей при использовании транспортного средства, что позволяет значительно сократить расходы на топливо, снизить амортизацию и износ деталей, а также контролировать рабочий цикл водителя и исключить несанкционированное использование ТС.</p>
        <p>Кроме того, каждый инспектор дорожной полиции способен при помощи тахографа (считать данные посредством карты контроллера) установить нарушение правил вождения грузовиков и вынести соответствующее предупреждение или наказание.</p>
        <div style="text-align: center">
            <img src="{{ asset('bundles/crmmain/images/tahograf-eto.jpg') }}" class="img-thumbnail">
        </div>
        <p><strong>Согласно законодательству РФ, все транспортные средства, отнесенные к категориям C, D, E, должны быть оснащены тахографами в обязательном порядке.</strong></p>
        <p><strong>Оснащение транспортной техники тахографами будет произведено в следующем порядке:</strong></p>
        <ul>
            <li>С 1.04.14 года тахографами с блоком СКЗИ оснащаются грузовики, которые перевозят опасные грузы.</li>
            <li>С 1.07.14 все грузовики и автобусы массой более 15 тонн, задействованные на любых перевозках.</li>
            <li>С 1.09.14 грузовые авто массой свыше 12 тонн, которые не участвуют в перевозках опасных грузов.</li>
            <li>С 1.04.15 установка блоков СКЗИ и тахографов для грузовиков массой 3,5-12 тонн.</li>
            <li>С 1.01.18 должна быть проведена замена всех штатно установленных на автомобили приборов контроля труда и отдыха (соответствующих нормам ЕС), а также приборов, установленных в мастерских до 11.03.14 и соответствующих всем техническим требованиям.</li>
        </ul>
        <div style="text-align: center">
            <img src="{{ asset('bundles/crmmain/images/poryadok-osnashcheniya-tahografami.jpg') }}" class="img-thumbnail">
        </div>
        <br />
        <br />
        <br />
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}