{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div class="box">
        <h2>Проверка статуса карты</h2>
        <table>
            <tr>
                <td>
                    {% if send == true %}
                        <div class="greenblock">Запрос отправлен</div>
                    {% elseif send == true %}
                        <div class="redblock">Ошибка: такого телефона или Email не существует в базе</div>
                    {% endif %}
                    <form method="POST">
                        {{ form_widget(form) }}
                    </form>
                </td>
                <td class="status-text">
                    Для получения статуса Вашей Заявки необходимо ввести адрес
                    почты(e-mail) который Вы указали при подаче Заявки или номер телефона
                    который использовался для входа на страницу подачи Заявки (шаг №1).
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .greenblock{
            padding: 10px;
            border-radius: 5px;
            border: 2px solid #006600;
            background: rgba(0, 102, 0, 0.20);
            text-align: center;
        }
        .redblock{
            padding: 10px;
            border-radius: 5px;
            border: 2px solid #660000;
            background: rgba(102, 0, 0, 0.20);
            text-align: center;
        }
        .status-text{
            vertical-align: top;
            padding-left: 10px;
            font-weight: bold;
            color: #1a5f89;
            width: 400px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $("#form_phone").mask("+7 (999) 999-9999");
        });
    </script>
{% endblock %}