<p>Здравствуйте. Ваша заявка отправлена.</p>

<p>
    Документы Вы можете скачать:
    <br />
    <br />
    <a href="http://im-kard.ru/app.php/generatePdf?ord={{ order.id }}&mail=12">Заявление</a>
    <br />
    <a href="http://im-kard.ru/app.php/generatePaymentPdf?ord={{ order.id }}&mail=12">Платежное поручение</a>
</p>

