<p>Здравствуйте. Ваша заявка отправлна.</p>

<p>
    Документы Вы можете скачать:
    <br />
    <br />
    <a href="http://im-kard.ru/generatePdf?ord={{ order.id }}">Заявление</a>
    <br />
    <a href="http://im-kard.ru/generatePaymentPdf?ord={{ order.id }}">Платежное поручение</a>
</p>

