<p>Здравствуйте. Ваша заявка отправлена.</p>

<p>
    Документы Вы можете скачать:
    {% if order.ru == 0 and order.estr == 0 %}
        <br />
        <br />
        <a href="http://im-kard.ru/app.php/generate-statement/{{ order.id }}">Заявление</a>
        <br />
        <a href="http://im-kard.ru/app.php/generatePaymentPdf?ord={{ order.id }}&mail=12">Платежное поручение</a>
    {% else %}
        <br />
        <br />
        <a href="http://im-kard.ru/app.php/generatePaymentPdf?ord={{ order.id }}&mail=12">Платежное поручение</a>
    {% endif %}
</p>