<body style="background-image: url('http://i6.pixs.ru/storage/7/5/2/bgjpg_7558070_12496752.jpg?2'); background-repeat: no-repeat; width: 800px;">
<div style="background: #000000;" >
    <center>
        <div style="position: relative; width: 790px; margin: 0 auto; background-color: #090909;">
            <div style="width: 790px; background: url('http://i6.pixs.ru/storage/7/5/2/bgjpg_7558070_12496752.jpg?2') no-repeat; height: 1250px;">
                <table  cellpadding="0" cellspacing="0" border="0" style="padding: 0 50px 0 50px; width: 100%">
                    <tr>
                        <td style="color: #cdcdcb; font-size: 17px; text-align: justify">
                            <div style="padding: 0px 50px; margin-top: 120px">
                                <center><h1 style="font-style: italic; font-weight: normal; font-size: 20px; color: #cdcdcb;">ПРИГЛАШЕНИЕ</h1></center>
                                <i>Дорогие друзья!</i>
                                <br/>
                                Приглашаем вас посетить самые зрелищные состязания <a style="color: #cdcdcb" href="http://vdrifte.ru/">Российской Дрифт Серии (RDS)</a> в компании с Pioneer – официальным партнером соревнований!
                                <div style="">&nbsp;</div>
                                <span style="" >&nbsp;&nbsp;&nbsp;21 июня 2014</span> будем рады вас видеть на <a style="color: #cdcdcb" href="http://autodromspb.ru/">автодроме «Санкт-Петербург»</a> на третьем этапе этого неповторимого шоу, где более 40 профессиональных пилотов со всей страны продолжат сражаться за звание лучшего дрифтера 2014 года!
                                <div style="">&nbsp;</div>
                                &nbsp;&nbsp;&nbsp;Специально для гостей Российской Дрифт Серий (RDS) мы подготовили незабываемые гонки на радиоуправляемых машинках, увлекательные питстоп-соревнования,
                                а также зажигательное выступление танцовщиц, выступления профессионального диджея на нашем demo-car и много других активностей с розыгрышем призов и подарков от Pioneer,
                                среди которых акустическая система <a style="color: #cdcdcb" href="http://www.pioneer-rus.ru/ru/newsroom/news/Domannaka/page.html">Domannaka</a> (c яп. «в центре», «в середине»), которая как нельзя лучше передает дух дрифта, который, к слову, берет свое начало также из
                                японской культуры.
                                <div style="padding: 2px">&nbsp;</div>
                                <center>
                                    <span style="" ><b>Даешь фуридаши вместе с Pioneer!</b></span>
                                </center>

                                <div style="">&nbsp;</div>
                                <span style="" ><b>По вопросам аккредитации на соревнования</b> обращаться в пресс-офис компании <b>Pioneer</b>
                                    к Роману Дронову по e-mail <a style="color: #cdcdcb" href="mailto:dronov.r@twiga.ru">dronov.r@twiga.ru</a>
                                    или по тел. <a style="color: #cdcdcb" href="tel:+79104753105">+7 (910) 475-31-05</a></span>
                                <div style=" ">&nbsp;</div>
                                <span style="" ><b>Начало мероприятия:</b> 21 июня 2014 в 11:00</span>
                                <div style=" ">&nbsp;</div>
                                <span style="" ><b>Место проведения:</b> трасса «Санкт-Петербург» (Санкт-Петербург, Московское шоссе, 5 км от КАД, п.Шушары)</span>
                                <br/>
                                <br/>
                                <a style="text-decoration: none" href="https://www.facebook.com/pioneerrussiaofficial" title="Группа в facebook" alt="facebook" ><img src="http://i.pixs.ru/storage/2/5/5/image001gi_4598472_12436255.gif"></a>&nbsp;
                                <a style="text-decoration: none" href="http://vk.com/pioneerofficial" title="Группа в VK" alt="vk" ><img src="http://i6.pixs.ru/storage/2/5/8/image002gi_2085309_12436258.gif"></a>&nbsp;
                                <a style="text-decoration: none" href="http://www.youtube.com/user/Pioneer" title="youtube" alt="youtube" ><img src="http://i6.pixs.ru/storage/2/6/0/image003gi_1549608_12436260.gif"></a>&nbsp;
                                <a style="text-decoration: none" href="http://twitter.com/Pioneer_Rus" title="twitter" alt="twitter" ><img src="http://i.pixs.ru/storage/2/4/7/image004gi_1993416_12436247.gif"></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </center>
</div>
</body>
