<div style="background: #000000;">
    <center>
        <div style="position: relative; width: 790px; margin: 0 auto; background: #090909;">
            <div style="width: 790px; background: url('https://cloclo15.cloud.mail.ru/weblink/thumb/xw1/2cfa50a52188/bg.jpg') no-repeat; height: 1250px;">
                <table  cellpadding="0" cellspacing="0" border="0" style="padding: 0 50px 0 50px; width: 100%">
                    <tr>
                        <td style="color: #cdcdcb; font-size: 17px;">
                            <div style="padding: 0px 50px; margin-top: 140px">
                                <center><h1 style="font-style: italic; font-weight: normal; font-size: 20px; color: #cdcdcb;">ПРИГЛАШЕНИЕ</h1></center>
                                <i>Дорогие друзья! </i>
                                <div style="padding: 3px">&nbsp;</div>
                                <span style="color: #e30002" >&nbsp;&nbsp;&nbsp;21 июня</span> ждем вас на трассе «Автодром» на третьем этапе состязания Российской Дрифт Серии (RDS), где более 40 профессиональных пилотов со всей страны сразятся за звание лучшего дрифтера 2014 года!
                                <div style="padding: 3px">&nbsp;</div>
                                &nbsp;&nbsp;&nbsp;В своем выставочном шатре компания <span style="color: #e30002" >Pioneer</span> представит молодежную серию акустики Domannaka, предназначенную специально для молодых и активных поклонников скорости, любителей драйва и ценителей отличного звука! Специально для гостей мы подготовили зажигательное выступление танцовщиц и профессионального диджея на нашем демо-автомобиле, а также увлекательные питстоп-соревнования, незабываемые гонки на радиоуправляемых машинках и много других активностей с розыгрышем ценных призов и подарков от Pioneer!
                                <div style="padding: 3px">&nbsp;</div>
                                <span style="color: #e30002" >По вопросам аккредитации на соревнования обращаться</span> в пресс-офис компании Pioneer к Роману Дронову по e-mail <a style="color: #cdcdcb" href="mailto:dronov.r@twiga.ru">dronov.r@twiga.ru</a> или по тел. +7 (910) 475-31-05
                                <div style="padding: 3px">&nbsp;</div>
                                <span style="color: #e30002" >Начало мероприятия:</span> 21 июня 2014 в 11:00
                                <div style="padding: 3px">&nbsp;</div>
                                <span style="color: #e30002" >Место проведения:</span> трасса «Автодром», Санкт-Петербург, Московское ш., 5 км. от КАД, Шушары
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </center>
</div>