{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Список клиентов</li>
        <li>Редактирование</li>
        {#<li><a href="{{ path('panel_company_add') }}"><span class="btn btn-primary">Добавить</span></a></li>#}
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

        <form class="form form-horizontal" method="post" style="width: 500px">
            {{ form_widget(form) }}
            {% if is_granted('ROLE_ADMIN') %}
                <input type="checkbox" name="isCheck"> Перенос карт
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #crm_authbundle_client_company-styler{
            width: 182px !important;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $("select").chosen({disable_search_threshold: 10});
        });
    </script>
{% endblock %}