<div class="well">
    <h2 class="modal-title">Навигация</h2>

{% if is_granted("ROLE_OPERATOR") %}
    <ul class="nav list-group">
        <li class="">
            <a href="{{ path('panel_user_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Заявки
            </a>
        </li>
        <li class="">
            <a href="{{ path('panel_company_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Ссылки
            </a>
        </li>
        {#<li class="">#}
            {#<a href="#">#}
                {#<i class="glyphicon glyphicon-align-justify"></i>#}
                {#Квоты#}
            {#</a>#}
        {#</li>#}
    </ul>
{% endif %}
</div>