<div class="well">
    <h3 class="modal-title">Квоты</h3>
    <h4>Осталось баллов:</h4>
    <h3>1200</h3>
    <br/>
    <h4>Неподтвержденных заявок:</h4>
    <h3>93 шт.</h3>
    <br />
    <h4>Использовано:</h4>
    <div style="display: inline-block; width: 70px;">СКЗИ: </div><h4 style="display: inline;">100</h4> шт. ( 1000 б. ) <br />
    <div style="display: inline-block; width: 70px;">ЕСТР: </div><h4 style="display: inline;">18</h4> шт. (180 б. )<br />
    <div style="display: inline-block; width: 70px;">РФ: </div><h4 style="display: inline;">36</h4> шт. (360 б. )<br />
</div>