parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    upload_dir:        %kernel.root_dir%/../web/upload

    rispo_yandexkassa_shopid: ~
    rispo_yandexkassa_shopId: ~
    rispo_yandexkassa_scid: ~
    rispo_yandexkassa_shoppassword: ~
    rispo_yandexkassa_shopPassword: ~
    rispo_yandexkassa_test: true
