<form method="POST" action="{{ path('yandex_check_order') }}">
    <input type="text" value="33503" name="orderNumber">
    <input type="text" value="12" name="orderSumAmount">
    <input type="text" value="2011-05-04T20:38:11.000+04:00" name="requestDatetime">
    <input type="text" value="182863" name="shopId">
    <input type="text" value="213" name="invoiceId">
</form>