*{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #234546;
}
a:hover{
    border-bottom: 1px dotted #234546;
}

h3{
    padding: 10px;
    text-align: center;
}
body, img{
    margin: 0;
    padding: 0;
}
body{
    background: #e0e0e0;
}
/*
* Шапка сайта
*/
.header{
    height: 35px;
    background: #000000;
    margin-bottom: 10px;
    padding-top: 15px;
}
.header-content{
    width: 1200px;
    margin: 0 auto;
    color: #e0e0e0;
}
.right-top-menu{
    float: right;
}
.right-top-menu a{
    color: #e0e0e0;
}
/*
* Меню
*/
.main-content{
    width: 1200px;
    margin: 0 auto;
}
.menu{
    background: #6c9e9f;
    padding: 10px;
    height: 300px;
    width: 170px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    float: left;
}
.menu-title{
    color: #e0e0e0;
    text-align: center;
    text-transform: uppercase;
}
.menu-items{
    margin: 0;
    padding: 0;
}
.menu-item{
    padding: 5px 10px;
    border-radius: 5px;
    color: #e0e0e0;
    list-style: none;
    text-align: right;
}
.menu-item:hover{
    background: #e0e0e0;
    color: #6c9e9f;
    cursor: pointer;
}
/*
* Контент
*/
.content{
    width: 960px;
    padding: 10px;
    background: #FFFFFF;
    min-height: 50px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    float: left;
}

.color-red{
    color: #CC3333;
}
.nbsp-10{
    padding: 0 10px;
}

/*
* Хлебные крошки
*/
.crosh{
    float: left;
    width: 960px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px ;
    background: #FFFFFF;
    color: #333333;
}
.crosh a{
    color: #6c9e9f;
}

/*****/

.lists{
    width: 100%;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}
.lists tr td{
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-collapse: collapse;
    padding: 5px 10px;
    color: #333333;
}
.lists tr:nth-child(odd){
    background: #e0e0e0;
}
.lists tr:first-child{
    background: #ffffff;
}

.lists tr th{
    color: #6c9e9f;
    font-weight: normal;
    text-align: left;
    padding-left: 20px;
}
.lists tr .options{
    width: 100px;
}
.lists tr td.options{
    text-align: right;
}



/*****/

.icon{
    width: 24px;
    margin-left: 10px;
}