*{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #234546;
}
a:hover{
    border-bottom: 1px dotted #234546;
}

a.no-underline{
    border-bottom: none;
}

h3{
    padding: 10px;
    text-align: center;
}
body, img{
    margin: 0;
    padding: 0;
}
body{
    background: #e0e0e0;
}
/*
* Шапка сайта
*/
.header{
    height: 35px;
    background: #000000;
    margin-bottom: 10px;
    padding-top: 15px;
}
.header-content{
    width: 1200px;
    margin: 0 auto;
    color: #e0e0e0;
}
.right-top-menu{
    float: right;
}
.right-top-menu a{
    color: #e0e0e0;
}
/*
* Меню
*/
.main-content{
    width: 1200px;
    margin: 0 auto;
}
.menu{
    background: #6c9e9f;
    padding: 10px;
    height: 300px;
    width: 170px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    float: left;
}
.menu-title{
    color: #e0e0e0;
    text-align: center;
    text-transform: uppercase;
}
.menu-items{
    margin: 0;
    padding: 0;
}
.menu-item{
    padding: 5px 10px;
    border-radius: 5px;
    color: #e0e0e0;
    list-style: none;
    text-align: right;
}
.menu-item a{
    color: #e0e0e0;
}

.menu-item:hover{
    background: #e0e0e0;
    color: #6c9e9f;
    cursor: pointer;
}
.menu-item:hover a{
    color: #6c9e9f;
    border: none;
}

/*
* Контент
*/
.content{
    width: 960px;
    padding: 10px;
    background: #FFFFFF;
    min-height: 50px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    float: left;
}

.color-red{
    color: #CC3333;
}
.color-white{
    color: #FFFFFF;
}

.nbsp-10{
    padding: 0 10px;
}

/*
* Хлебные крошки
*/
.crosh{
    float: left;
    width: 960px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px ;
    background: #FFFFFF;
    color: #333333;
}
.crosh a{
    color: #6c9e9f;
}

/*****/

.lists{
    width: 100%;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}
.lists tr td{
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-collapse: collapse;
    padding: 5px 10px;
    color: #333333;
}
.lists tr:nth-child(odd){
    background: #e0e0e0;
}
.lists tr:first-child{
    background: #ffffff;
}

.lists tr th{
    color: #6c9e9f;
    font-weight: normal;
    text-align: left;
    padding-left: 20px;
}
.lists tr .options{
    width: 150px;
}
.lists tr td.options{
    text-align: right;
}
.lists tr th.options{
    text-align: center;
}



/*****/

.icon{
    width: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:arial;
    font-size:15px;
    padding:10px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}
.btn:active {
    position:relative;
    top:1px;
}
.btn:focus{
    outline: none;
}
input[type=text], input[type=number], input[type=password], input[type=email], input[type=url], textarea{
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 3px;
    border-top: 2px solid #909090;
    border-left: 2px solid #909090;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    width: 270px;
    background: #FAFAFA;
}
input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, textarea:focus{
    border-top: 2px solid #909090;
    border-left: 2px solid #909090;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    outline: none;
}
input.little{
    width: 87px;
}
.error-msg, .error-msg-p, .error-msg-d, .error-msg-s, .error-msg-h{
    color: #CC3333;
    padding: 10px;
}
.fancy{
    border-bottom: none;
}
.right{
    float: right;
}
.comment{
    cursor: pointer;
}
.required{
    color: #CC0000;
}
.table-edit{
    margin-left: 20px;
}
.table-edit tr td{
    padding: 10px 0;
}