{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Поиск картинок</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <form method="POST">
            <input type="date" class="form-control" name="date" style="width: 150px">
            <button type="submit">Найти</button>
        </form>
        <div>
            {% for f in files %}
                <img src="{{ f }}" style="max-width: 250px; max-height: 250px; margin: 10px" valign="top">
            {% endfor %}
        </div>
    </div>
{% endblock %}