{% if error %}
    {% if error == true %}
        <div class="error"></div>
    {% else %}
        <div class="error">{{ error.message }}</div>
    {% endif %}
{% endif %}

<form action="{{ path('_security_check') }}" method="POST">
    <table>
        <tr>
            <td>
                <label for="username">Логин:</label>
            </td>
            <td>
                <input type="text" id="username" name="_username" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Пароль:</label>
            </td>
            <td>
                <input type="password" id="password" name="_password" />
            </td>
        </tr>
    </table>
    <input type="submit" name="login" value="Отправить" />
</form>