.tr-select td {
  background-color: #b0ccb7;
}
.miniselect {
  width: 200px;
}
.jq-selectbox__select-text {
  min-width: 50px;
}
.jq-file {
  width: 230px;
}

.tr-select td {
  background-color: #b0ccb7;
}
.miniselect {
  width: 200px;
}
.jq-selectbox__select-text {
  min-width: 50px;
}
.jq-file {
  width: 230px;
}
