{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-5">
            <h2>Вы зарегистрировались на нашем портале.</h2>
        </div>
    </div>
{% endblock %}