{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block body %}
        <h2>Профиль</h2>
        <form method="post" style="width: 500px" class="form-horizontal">
            {{  form_widget(form) }}
        </form>
{% endblock %}