{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-5">
            <h2 style="text-align: left">Регистрация</h2>
            <form class="form-horizontal"  method="post">
                {{  form_widget(form) }}
            </form>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-6">
            <h2>Лицензионное соглашение</h2>
            <div style="height: 500px; overflow: hidden;" id="pdfRenderer">

            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/crmauth/js/pdfobject.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            var pdf = new PDFObject({
                url: "{{ asset('bundles/crmmain/docs/license.pdf') }}",
                id: "pdfRendered",
                pdfOpenParams: {
                    navpanes: 0,
                    view: "FitH"
                }
            }).embed("pdfRenderer");
        });
    </script>
{% endblock %}