{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-5">
            <h2 style="text-align: left">Регистрация</h2>
            <form class="row"  method="post">
                {{  form_widget(form) }}
            </form>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-6">
            {#<h2>Лицензионное соглашение</h2>#}
            <div style="height: 500px; overflow: scroll;">
                {#<p>1. Предмет лицензионного договора#}

                    {#1.1. Лицензиар предоставляет Лицензиату по настоящему Договору право использования программного обеспечения (далее по тексту – «Продуктов»), указанных в Приложениях (Спецификациях) к настоящему Договору, на условиях на условиях простой (неисключительной) лицензии, а Лицензиат обязуется выплачивать Лицензиару предусмотренное настоящим Договором вознаграждение.#}

                    {#Существенные условия лицензионного договора на программное обеспечение, без которых он не считается заключенным, составляют положения о лицензируемом объекте, разрешенных способах его использования и размере либо порядке определения лицензионного вознаграждения. Поэтому при составлении лицензионного договора на программы, прежде всего, необходимо уделять внимание согласованию и включению в него указанных выше обязательных условий.#}

                    {#Иные положения лицензионного договора на программы являются факультативными, т.е. в случае их отсутствия применяются нормы законодательства и обычаи делового оборота, которые восполняют пробелы. Однако это не означает, что они менее значимы для сторон с точки зрения обеспечения надлежащего исполнения обязательств по договору.#}

                    {#Различают лицензионные договоры с условием о предоставлении исключительной лицензии и простой (неисключительной) лицензии.#}

                    {#Под исключительной лицензией подразумевается предоставление Лицензиату права использования программного обеспечения без сохранения за Лицензиаром права выдачи лицензий другим лицам. При этом если в лицензионном договоре не предусмотрено иное Лицензиар (правообладатель) сохраняет право самостоятельного использования такого программного обеспечения теми же способами, в течение того же срока и на той же территории, что и лицензиат. Следует обращать на это внимание и при необходимости отдельно вводить ограничение права Лицензиара на самостоятельное использование таких программ.#}

                    {#И наоборот неисключительная лицензия подразумевает предоставление Лицензиату права использования программных продуктов с сохранением за Лицензиаром права выдачи лицензий другим лицам. По умолчанию (то есть если в лицензионном договоре не предусмотрено иное), выданная лицензия считается неисключительной.#}

                    {#1.2. По настоящему Договору Лицензиар разрешает Лицензиату использовать Продукты с даты подписания соответствующего Приложения (Спецификации), в котором они упомянуты, до окончания срока действия настоящего Договора (далее – «Срок»).#}

                    {#По желанию сторон можно определить срок лицензии указанием на определенный период времени (месяц, квартал, год) либо распространить его на весь период действия исключительного права на передаваемое программное обеспечение.#}

                    {#Ссылка на бессрочность предоставляемой лицензии, на наш взгляд, некорректна, т.к. срок действия исключительного права на программы и базы данных всегда ограничен. При этом согласно положениям п.4 ст.1235 ГК РФ, срок лицензионного договора не может превышать срок действия исключительного права.#}

                    {#Если срок лицензионного договора (лицензии) не определен, договор считается заключенным на 5 (пять) лет. Поэтому вы можете столкнуться с ситуацией, когда желали оформить лицензию на весь срок действия исключительного права, а по факту она прекратится через пять лет после заключения договора, поскольку указание на бессрочность, порождает неопределенность срока.#}

                    {#1.3. Лицензиар разрешает Лицензиату использовать Продукты на территории, указанной в относящемся к таким Продуктам Приложении (Спецификации) к Договору (далее – «Территория»).#}

                    {#В случае отсутствия в лицензионного договоре указания на конкретную территорию, в пределах которой разрешено использование передаваемого программного обеспечения, применяются положения закона о возможности его использования на всей территории России (тем самым из территории исключаются иные страны).#}

                    {#1.4. В пределах Территории и Срока, предусмотренных настоящим Договором, Лицензиар разрешает Лицензиату использовать Продукты следующими способами:#}

                    {#Содержательно лицензионные договоры на программы различаются в зависимости от целей лицензирования. Как правило, выделяют две основные цели:#}
                    {#1) использование в собственной хозяйственной деятельности Лицензиата по функциональному назначению (договор с конечным пользователем), либо#}
                    {#2) распространение программы Лицензиатом в виде самостоятельного продукта либо в составе иного (производного или составного) продукта (договор с дистрибьютором).#}

                    {#В зависимости от этого в лицензионном договоре определяются допустимые способы использования программ и баз данных.#}

                    {#Например, для первого варианта может быть вполне достаточно разрешения на воспроизведение (синонимы: запись, копирование, установка или инсталляция), запуск и функциональное использование.#}

                    {#Тогда как второй вариант требует детальной проработки требований к порядку использования ПО в зависимости от вариантов его дальнейшей дистрибуции. Так для распространения готового программного продукта может дополнительно потребоваться право на распространение, доведение до всеобщего сведения (этот способ касается передачи/загрузки дистрибутивов по сети Интернет).#}

                    {#В случае создания на основе лицензионного программного обеспечения новой версии продукта либо включения в состав программного комплекса необходимо получить право на переработку (модификацию) и т.д.#}

                    {#С общим перечнем способов (прав) использования произведений можно ознакомиться в  ст.1270 ГК РФ.#}

                    {#При этом необходимо обратить внимание на жесткое ограничение, согласно которому право использования программного обеспечения, прямо не указанное в лицензионном договоре, не считается предоставленным Лицензиату (см. п.1 ст.1235 ГК РФ). Таким образом, условие о способах использования программ для ЭВМ и баз данных нельзя формулировать путем указания на «все» права или путем исключения отдельных прав. В таком случае лицензионный договор не будет считаться заключенным.#}

                    {#2. Предоставление прав на использование программ#}

                    {#2.1. Лицензиар обязан предоставить Лицензиату экземпляры Продуктов на материальных носителях либо направить их Лицензиату сетевым способом по согласованию сторон не позднее 10 (десяти) дней с момента подписания соответствующего Приложения (Спецификации).#}

                    {#Как правило, право использования программ предоставляется одновременно с передачей их экземпляров. Для упорядочения отношений сторон передачу экземпляров и прав желательно оформить документально в виде двустороннего акта либо почтовой квитанцией /накладной об их отправке Лицензиату. В связи с отсутствием общих устоявшихся правил по данному поводу, процедура приемки-передачи должна быть детализирована в лицензионном договоре.#}

                    {#Особое значение документальное подтверждение передачи экземпляров и предоставления прав на программное обеспечение приобретает по внешнеэкономическим контрактам, где одной из сторон является нерезидент. В такой ситуации возникает необходимость соблюдения валютного законодательства, которое требует предоставления документов о фактическом исполнении договора.#}

                    {#3. Лицензионное вознаграждение за использование программ#}

                    {#3.1. Лицензиат обязуется уплачивать Лицензиару вознаграждение за право использования или/и использование прав на Продукты, предоставленные Лицензиату в соответствии условиями Договора.#}

                    {#3.2. Размер лицензионного вознаграждения или способ его определения, сроки и порядок выплаты согласуется Сторонами в Приложении (Спецификации), касающемся соответствующих Продуктов.#}

                    {#Существует масса вариантов определения вознаграждения по лицензионному договору. Конкретные условия о лицензионном вознаграждении зависят от цели заключения договора.#}

                    {#В случае оформления договора с конечным пользователем лицензионное вознаграждение обычно устанавливается в фиксированной сумме, которые может выплачиваться единовременно или в рассрочку.#}

                    {#По договору с дистрибьютором (реселлером) возможна выплата фиксированной суммы вознаграждения за каждый распространённый экземпляр или доли в доходе от его распространения. Могут устанавливаться различные порядок и сроки выплаты вознаграждения.#}

                    {#В последнем случае для расчета суммы вознаграждения на Лицензиата возлагается обязанность по предоставлению подробных отчетов о порядке использования лицензированных продуктов.#}

                    {#4. Отчетность по лицензионному договору#}

                    {#Важный раздел для лицензионных договоров, направленных на последующее распространение программных продуктов, поскольку размер лицензионного вознаграждения в них, как правило, связан с результатами деятельности Лицензиата.#}

                    {#Здесь необходимо согласовать форму, сроки и порядок предоставления отчетов, оформления актов по окончании отчетных периодов, обязанность по надлежащему ведению учета операций с лицензионными программными продуктами, хранению документации и предоставлению к ней доступа по требованию Лицензиара.#}

                    {#5. Гарантии по лицензионному договору#}

                    {#Типичный раздел для любых видов лицензионных договоров на программное обеспечение. Обычно включает подтверждение наличия прав на программные продукты, легальности их предоставления по договору и принятии Лицензиаром на себя разрешения возможных споров и компенсации ущерба в связи возможным нарушением исключительных прав третьих лиц в связи с использованием продуктов. Данные положения направлены на защиту интересов Лицензиата.#}

                    {#В целях ограничения ответственности Лицензиара здесь же обычно указывается, что программные продукты предоставляются «как есть», т.е. без обязательств о пригодности продуктов для целей Лицензиата или совместного использования с определенным программным обеспечением и аппаратными средствами и т.п.#}

                    {#6. Заключительные условия лицензионного договора#}

                    {#Здесь необходимо предусмотреть положения об ответственности, форс-мажоре, арбитраже, конфиденциальности и прочие общие для разных видов договоров условия.#}


                    {#Надеемся, данные рекомендации оказались полезными. При возникновении вопросов по составлению лицензионного договора на программное обеспечение вы можете обратиться к специалистам юридической компании АйТи-Лекс.</p>#}
            </div>
        </div>
    </div>
{% endblock %}