{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-7">
            <h2>Забыли пароль</h2>
            <form class="row" method="post">
                {% if error is defined and error %}
                    <div class="error">{{ error.message }}</div>
                {% endif %}
                <div>
                    <div class="form-group">
                        <label class="control-label required">Email:</label>
                        <input type="email" id="" name="username" required="required" class="form-control" />
                    </div>
                    <div class="form-group" style="text-align: right">
                        <div class="row">
                            <div class="col-xs-7" style="text-align: right">
                                <a href="{{ path('auth_register') }}">Зарегистрироваться</a>
                                <br />
                                <a href="{{ path('auth_login') }}">Войти</a>
                            </div>
                            <div class="col-xs-5">
                                <button type="submit" id="" class="btn-primary btn">Восстановить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}