{% extends 'CrmAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="crumbs">
        <a href="#">Заказы</a>
    </div>

    <table class="list">
        <tr>
            <th>Фамилия </th>
            <th>Имя</th>
            <th>Отчество</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.surName }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
