body{
    margin: 0;
    padding: 0;
    background: #ececec;
}
img{
    border: 0;
}
table{
    border-spacing: 0;
}
a{
    color: #4d7496;
    text-decoration: none;
}
a:hover{
    color: #4d7496;
    text-decoration: underline;
}

a.active:after{
    /*content: " > ";*/
}
a.active{
    font-weight: bold;
}
.menu-items li a{
    display: block;
    position: relative;
    margin: 0;
    border: 0;
    padding: 15px 15px;
    padding-left: 20px;
    color: #555;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb;
}
.slidebar-title{
    background-color: #ececec;
    padding: 10px;
    font-weight: 600;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #dfdfdf;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
}
.menu-items li img{
    width: 0px;
    /*padding: 10px;*/
    /*margin-bottom: -10px;*/
}
.addnew{
    width: 24px;
    padding-left: 10px;
    margin-bottom: -7px;
}

.body{
    min-height: 100%;
}
header{
    height: 48px;
    background: #4d7496;
    border-bottom: 4px solid #2a4053;

}
.content{
    margin-left: 10px;
    background: #FFFFFF;
    max-width: 1500px;
    float: left;
    width: 75%;
    padding: 10px;
    padding-bottom: 60px;
}
.left-slidebar{
    float: left;
    width: 250px;
    background-color: #ececec;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}
.menu{
    background: #FFFFFF;
    padding: 10px;
    min-height: 90%;
}

.menu-items{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #ebebeb;
}

.menu-items li a:hover{
    background: #fdfdfd;
}

*{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

input[type=text], input[type=number], input[type=password], input[type=email], input[type=url], textarea{
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 3px;
    border-top: 2px solid #909090;
    border-left: 2px solid #909090;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    width: 250px;
}
input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, textarea:focus{
    border-top: 2px solid #909090;
    border-left: 2px solid #909090;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    outline: none;
}
h2{
    color: #333333;
    font-weight: normal;
    text-transform: uppercase;
}


.btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:arial;
    font-size:15px;
    padding:10px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}
.btn:active {
    position:relative;
    top:1px;
}
.btn:focus{
    outline: none;
}
.ico{
    width: 24px;
    margin-bottom: -6px;
}


.setting{
    width: 120px;
    text-align: right;
}
.list tr:nth-child(even){
    background: #ECECEC;
}
.list tr th {
    background: #FFFFFF;
    text-align: left;
    padding-left: 25px;
    line-height: 25px;
    color: #555;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb
}
.list tr td{
    padding: 5px 10px;
}
.list{
    width: 90%;
    border: 1px solid #ebebeb;
}
.crumbs{
    margin-bottom: 25px;
}
.raspberry{
    color: #CC3333;
}
.crumbs a{
    padding: 15px 15px;
    padding-left: 20px;
    color: #555;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
}
.crumbs{
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0;
}