Здравствуйте<br /><br />

Вы воспользовались функцией восстановления пароля <br /><br />

Для востановления пароля пройдите по <a href="{{ url('auth_reset_password_2',{ 'hash' : client.salt , 'id' : client.id}) }}">ссылке</a>.
Если вы не пользовались этой функцией, то просто удалите это письмо.