<html>
    <head>
        <style>
            .rud{
                letter-spacing: 7px;
                position: absolute;
                top: 332px;
                left: 112px;
                font-size: 17px;
            }
            .fio{
                position: absolute;
                top: 368px;
                left: 73px;
                font-size: 17px;
            }
            .companyName{
                position: absolute;
                top: 442px;
                left: 73px;
                font-size: 15px;
            }
            .companyAdress{
                position: absolute;
                top: 496px;
                left: 73px;
                font-size: 15px;
            }
            .snils{
                position: absolute;
                top: 559px;
                left: 492px;
                font-size: 15px;
                letter-spacing: 2px;
            }
            .passportNumber{
                position: absolute;
                top: 630px;
                left: 170px;
                font-size: 15px;
            }
            .passportDate{
                position: absolute;
                top: 630px;
                left: 350px;
                font-size: 15px;
                letter-spacing: 2px;
            }
            .passportPlace{
                position: absolute;
                top: 648px;
                left: 147px;
                font-size: 15px;
            }
            .passportCode{
                position: absolute;
                top: 691px;
                left: 305px;
                font-size: 15px;
                letter-spacing: 4px;
            }

            .driverCountry{
                position: absolute;
                top: 769px;
                left: 186px;
                font-size: 15px;
            }
            .driverNumber{
                position: absolute;
                top: 735px;
                left: 116px;
                font-size: 15px;
            }
            .driverDate{
                position: absolute;
                top: 735px;
                left: 279px;
                font-size: 15px;
                letter-spacing: 2px;
            }
            .driverPlace{
                position: absolute;
                top: 752px;
                left: 160px;
                font-size: 15px;
            }
            .photo{
                position: absolute;
                top: 998px;
                width: 106px;
                left: 73px;
            }
            .sign{
                position: absolute;
                top: 1323px;
                width: 235px;
                left: 351px;
                z-index: 999;
            }
            .sign2{
                position: absolute;
                top: 1262px;
                width: 136px;
                left: 294px;
            }
            .sign3{
                position: absolute;
                top: 1572px;
                width: 136px;
                left: 294px;
            }
            .date2{
                position: absolute;
                top: 1296px;
                width: 136px;
                left: 81px;
                letter-spacing: 1px;
            }
            .fio2{
                position: absolute;
                top: 1296px;
                width: 136px;
                left: 451px;
                letter-spacing: 1px;
            }
            .fio3{
                position: absolute;
                top: 1608px;
                width: 136px;
                left: 451px;
                letter-spacing: 1px;
            }
            .company0{
                position: absolute;
                top: 53px;
                left: 345px;
                font-size: 17px
            }
            .fio0{
                position: absolute;
                top: 95px;
                left: 345px;
                font-size: 17px
            }
        </style>
    </head>

    <body>
        <img src="{{ asset('bundles/crmmain/page1.png') }}" style="">
        <img src="{{ asset('bundles/crmmain/page2.png') }}" style="">

        <div class="company0">НПО РОМАШКА</div>
        <div class="fio0">Степанов Виктор Викторович абрам</div>

        <div class="rud" style="">
            1234567891123
        </div>
        <div class="fio" style="">
            Степанов Виктор Викторович абрам
        </div>
        <div class="companyName">Общество с ограниченной ответственностью "Коммункационная группа TWIGA"</div>
        <div class="companyAdress">127455,г. Москва, ул Широкая, д 19 к 3 кв 426 Дополнительный текст</div>
        <div class="snils">133 123 123 13</div>

        <div class="passportNumber">4507 071445</div>
        <div class="passportDate">25&nbsp;&nbsp;&nbsp;&nbsp;Декабря&nbsp;&nbsp;&nbsp;&nbsp;1991</div>
        <div class="passportPlace">УФМС города Москва по району северное медведково</div>
        <div class="passportCode">133&nbsp;&nbsp;&nbsp;132</div>

        <div class="driverNumber">12365491011</div>
        <div class="driverDate">22&nbsp;&nbsp;&nbsp;&nbsp;Декабря&nbsp;&nbsp;&nbsp;&nbsp;2014</div>
        <div class="driverPlace">ГИБДД РФ 1</div>
        <div class="driverCountry">Российская федерация</div>

        <div class="photo"><img src="/upload/docs/idf5zelaozw5e7mhpr"></div>
        <div class="sign"><img src="/upload/docs/idcrrg9rzqedfzycib"></div>

        <img src="/upload/docs/idcrrg9rzqedfzycib" class="sign2">
        <div class="date2">22&nbsp;&nbsp;&nbsp;&nbsp;Декабря&nbsp;&nbsp;&nbsp;&nbsp;2014</div>
        <div class="fio2">Степанов В. В.</div>

        <img src="/upload/docs/idcrrg9rzqedfzycib" class="sign3">
        <div class="fio3">Степанов В. В.</div>
    </body>
</html>