{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div class="box">
        <h2>Заявка отправлена в обработку</h2>

        Заявка прошла.!

        <br/>
        <br/>
        <B>документы для скачивания</B>
        <br/>
        <br/>
        <a href="{{ path('generate_payment_pdf') }}?ord={{ user.id }}" target="_blank">Документ на оплату</a>
        <br/>
        <a href="https://im-kard.ru{{ path('generate_pdf_statement',{'id' : user.id }) }}">Заявление</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h3{
            margin: 10px 0;
        }
    </style>

{% endblock %}