{% extends 'CrmAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="crumbs">
        <a href="#">Страницы</a>
        >>
        <a href="{{ path('page_add') }}">Добавить</a>
    </div>

    <table class="list">
        <tr>
            <th>Название</th>
            <th>URL</th>
            <th class="setting"></th>
        </tr>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>{{ page.url }}</td>
                <td class="setting"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        .setting{
            width: 120px;
        }
        .list tr:nth-child(even){
            background: #dadada;
        }
        .list tr th {
            background: #FFFFFF;
            text-align: left;
            padding-left: 25px;
        }
        .list tr td{
            padding: 5px 10px;
        }
        .list{
            width: 90%;
            border-radius: 5px;
            border: 2px solid #6c9e9f;
        }
        .crumbs{
            margin-bottom: 25px;
        }
    </style>
{% endblock %}