<html>
    <head>

        {% if page is defined and page.title is defined  %}
            <title>{{ page.title }}</title>
        {% else %}
            <title>Система подачи заявок</title>
        {% endif%}
        {% block stylesheets %}
            <link href="{{ asset('bundles/crmmain/stylesheets/common.css') }}" rel="stylesheet" media="all">
        {% endblock %}
        {% block javascripts %}
            <script rel="script" src="{{ asset('bundles/crmmain/javascripts/jQuery.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="body">
            <header>

            </header>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>

        </footer>
    </body>
</html>